.image-container {
    float: left;
    max-width: 30%;
    height: 200px;
    padding: 40px;
    margin: 20px;
    background-color: #e3e3e3;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image {
    max-width: 100%;
    max-height: 80%;
    padding: 10px 0;
}

.title {
    text-align: center;
    font-weight: bold;
}

.like {
    float: left;
}

.delete {
    float: right;
}