#loading {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    -webkit-animation: color-change 3s infinite;
    -moz-animation: color-change 3s infinite;
    -o-animation: color-change 3s infinite;
    -ms-animation: color-change 3s infinite;
    animation: color-change 3s infinite;
}

@-webkit-keyframes color-change {
    0% { color: black; }
    50% { color: #e3e3e3; }
    100% { color: black; }
}
@-moz-keyframes color-change {
    0% { color: black; }
    50% { color: #e3e3e3; }
    100% { color: black; }
}
@-ms-keyframes color-change {
    0% { color: black; }
    50% { color: #e3e3e3; }
    100% { color: black; }
}
@-o-keyframes color-change {
    0% { color: black; }
    50% { color: #e3e3e3; }
    100% { color: black; }
}
@keyframes color-change {
    0% { color: black; }
    50% { color: #e3e3e3; }
    100% { color: black; }
}